/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


/* SEZIONE HEADER */

header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;

}

#img_logo {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 800;

}



a {

  margin-right: 20px;
  color: #1c1c1c;
  text-decoration: inherit;
}

a:hover {
  color: #0282f9;
}



/* SEZIONE MAIN */

.contenitore_black {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: white;
  background-color: #1c1c1c;
  margin-top: 30px;

}

.contenitore_blue {
  /* width: 100%; */
  height: 150px;
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;

}

.contenitore_MainShop {
  display: flex;
  align-items: center;
  margin-right: 30px;


}

.contenitore_shop {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 20px;


}

.contenitore_shop img {
  width: 50px;
  height: auto;
}

.contenitore_shop span {
  color: white;
  text-align: center;

}

/* SEZIONE FOOTER */
footer {
  background-image: url("./img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.logo_footer {
  background-image: url("./img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
}

.footer_info {
  display: flex;
  justify-content: start;
  padding-left: 15%;

  max-width: 100%;
  /* DEBUG */
  height: 450px;

}

h4 {
  color: white;
  padding: 20px;
}


.link_footer li {
  list-style-type: none;
  color: #959595;
  line-height: 25px;

}




.footer_follow {

  height: 130px;
  background-color: #303030;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icone {
  display: flex;
  justify-content: center;
  gap: 20px;
}

h3 {
  color: #0083f1;
}

button {
  color: white;
  border: 2px solid #0083f1;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #303030;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */